@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

/* font-family: 'Poppins', sans-serif; */

:root {

    /* Primary */

    --purple: hsl(259, 100%, 65%);
    --light-purple: hsl(259, 100%, 69%);
    --light-red: hsl(0, 100%, 67%);
    
   
    /* Neutral */

    --white: hsl(0, 0%, 100%) ;
    --ff-white: hsl(0, 0%, 94%) ;
    --light-grey: hsl(0, 0%, 86%) ;
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);

    --ff-primary: 'Poppins', sans-serif; 
    
  }
  
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* font sizing */
  html {
    font-size: 62.5%;
    font-family: var(--ff-primary);
  }

  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
    padding: 0;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
   
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }


  
  body {
      background-color: var(--light-grey);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

.container {
  width: 600px;
  border-radius: 10px;
  border-bottom-right-radius: 100px;
  padding: 4rem;
  background-color: var(--ff-white);
}

.inputs {
  display: flex;
  gap: 1rem;
 
}

label {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--smokey-grey);
}

.input-box {
  display: flex;
  flex-direction: column;
}

input {
  width: 12rem;
  padding: 0 1rem;
  font-size: 3.6rem;
  margin: 4px 0;
  border-radius: 8px;
  border: 1px solid var(--light-grey);
}

input::placeholder {
  font-size: 3.6rem;
}

.button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  height: 1px;
  width: 100%;
  background-color:var(--light-grey);
}

button {
  background-color: var(--purple);
  border: none;
  border-radius: 50%;
  padding: 1rem;
  height: 80px;
  aspect-ratio: 1;
  cursor: pointer ;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: var(--light-purple);
}

h1 {
  font-size: 6.2rem;
  font-style: italic;
  color: var(--off-black);
}

h1 span {
  color: var(--purple);
}